* {
    margin: 0;
    padding: 5px;
}

input, table, button, select, option, div#sliderBox {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

div#header {
    position: relative;
    background-color: #6478ff;
    color: white;
    margin-bottom: 5px;
}

div#projectSetActions {
    position: absolute;
    top: 0;
    right: 0;
    
    text-align: right;
}

div#projectSetActions form {
    padding: 0;
}

div#votingForm {
    margin: auto;
}

div#project {
    min-width: 380px;
    border: 1px solid black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    width: 700px;
    margin: 14px 0;
}

div#projectName {
    margin: 0;
    padding: 0;
    min-width: 260px;
}

div#projectUrl {
    display: block;
    float: right;
    clear: right;
    
    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
    width: auto;
    
    margin-left: auto;
    margin-right: 0;    
    padding: 2px;
}

textArea#descriptionField {
    width: 100%;
    height: 5em;
}

table {
    text-align: left;
}

a {
    color: rgb(70, 70, 70);
}

.description {
    position: relative;
}

.description span {
    display: none;
    position: absolute;
    
    font-size: 1em;
    min-width: 6em;
    
    border: 1px solid black;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -khtml-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    -khtml-opacity: 0.9;
    -o-opacity: 0.9;
    opacity: 0.9;
}

.description:hover span.descriptiontext {
    display: block;
    bottom: 100%;
    left: 1em;
    margin-bottom: 1em;
}