* {
    margin: 0;
    padding: 5px;
}

input, table, button, select, option, div#sliderBox {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

div#header {
    position: relative;
    background-color: #6478ff;
    color: white;
    margin-bottom: 5px;
}

div#projectSetActions {
    position: absolute;
    top: 0;
    right: 0;
    
    text-align: right;
}

div#projectSetActions form {
    padding: 0;
}

div#votingForm {
    margin: auto;
}

div#project {
    min-width: 380px;
    border: 1px solid black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    width: 700px;
    margin: 14px 0;
}

div#projectName {
    margin: 0;
    padding: 0;
    min-width: 260px;
}

div#projectUrl {
    display: block;
    float: right;
    clear: right;
    
    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
    width: auto;
    
    margin-left: auto;
    margin-right: 0;    
    padding: 2px;
}

textArea#descriptionField {
    width: 100%;
    height: 5em;
}

table {
    text-align: left;
}

a {
    color: rgb(70, 70, 70);
}

hr {
    margin: 0.4em 0;
    padding: 0;
}