body{
    font-family: sans-serif;
}

div#header{
    background-color: rgb(100, 120, 255);
    color: white;
    padding: 5px;
}

div#projectSetActions{
    float: right;
    clear: right;
    text-align: right;
}
